# Sorry I wasn't thoughtful enough to foresee the issue: play counts grows.

# The growth rate is usually 1~2% per 10 days, average is 1.3~1.4%. We could amplify the play counts(according to its play counts range) we collected in Nov. 3~5. Or we recollect all the play counts.

# Note that after we do a logarithm, the difference is very very small.

## log(1000000) = 13.8155
## log(1002000) = 13.8175
## The error of baseline linear regression is 1.6

In [1]:
import pandas as pd

In [4]:
music_old = pd.read_csv('../music_data/billboard_top_100_1960_1969-backup.csv')

# < 100,000: 141 Songs

In [8]:
one_hun_thou = music_old[music_old.SpotifyPlayCount < 100000]

In [12]:
one_hun_thou.shape

(141, 5)

In [86]:
one_hun_thou[one_hun_thou.index % 15 == 0]

,Rank,Artist,Title,Year,SpotifyPlayCount
45,46,Marv Johnson,You've Got What It Takes,1960,53493
60,61,The Little Dippers,Forever,1960,40043
135,36,Linda Scott,Don't Bet Money Honey,1961,1728
165,66,The Echoes,Baby Blue,1961,29769
330,31,The Dovells,You Can't Sit Down,1963,70658
480,81,The Jelly Beans,I Wanna Love Him So Bad,1964,47284
570,71,Dickey Lee,Laurie (Strange Things Happen),1965,18958
690,91,Herman's Hermits,Dandy,1966,74173
840,41,Gene and Debbe,Playboy,1968,10759

In [114]:
ser1 = one_hun_thou[one_hun_thou.index % 15 == 0].SpotifyPlayCount

In [131]:
list1 = [53869, 40777, 1745, 30000, 71526, 61779, 19228, 75023, 10894]

In [147]:
def amplifyRate(oldser, newlist):
    summ = 0
    counter = 0
    newser = pd.Series(newlist)
    for i, j in zip(oldser, newser):
        rate = (j-i)/i
        print(rate)
        if rate < 0.1:  # when growth rate > 0.1, there might be some error with the original play counts
            summ = summ + rate
            counter = counter + 1
    print(counter)
    print('-----')
    print(summ/counter)

In [148]:
amplifyRate(ser1, list1)

0.0070289570598
0.0183302949329
0.00983796296296
0.00775975007558
0.0122845254607
0.306551899163
0.0142420086507
0.0114596955766
0.0125476345385
8
-----
0.0116863536572

# 100,000 ~ 300,000: 155 Songs

In [32]:
thre_hun_thou = music_old[ music_old.SpotifyPlayCount < 300000]
thre_hun_thou = thre_hun_thou[thre_hun_thou.SpotifyPlayCount > 100000]

In [33]:
thre_hun_thou.shape

(155, 5)

In [85]:
thre_hun_thou[thre_hun_thou.index % 20 == 0]

,Rank,Artist,Title,Year,SpotifyPlayCount
100,1,Bobby Lewis,Tossin' And Turnin',1961,185664
240,41,Clyde McPhatter,Lover Please,1962,169633
260,61,Ray Stevens,Ahab The Arab,1962,194946
300,1,Jimmy Gilmer and The Fireballs,Sugar Shack,1963,226227
320,21,Al Martino,I Love You Because,1963,107611
720,21,Jay and The Techniques,"Apples, Peaches, Pumpkin Pie",1967,280359
760,61,Lesley Gore,California Nights,1967,187214
940,42,Mercy,Love (Can Make You Happy),1969,192564

In [133]:
ser2 = thre_hun_thou[thre_hun_thou.index % 20 == 0].SpotifyPlayCount

In [177]:
list2 = [189599, 172417, 197406, 230332, 108794, 284709, 189758, 194658]

In [178]:
amplifyRate(ser2, list2)

0.0211942002758
0.0164119009862
0.0126188790742
0.0181454910333
0.0109932999415
0.0155158207869
0.0135887273388
0.010874306724
8
-----
0.0149178282701

# 300,000 ~ 600,000: 128 Songs

In [38]:
six_hun_thou = music_old[ music_old.SpotifyPlayCount < 600000]
six_hun_thou = six_hun_thou[six_hun_thou.SpotifyPlayCount > 300000]

In [39]:
six_hun_thou.shape

(128, 5)

In [82]:
six_hun_thou[six_hun_thou.index % 15 == 0]

,Rank,Artist,Title,Year,SpotifyPlayCount
90,91,The Everly Brothers,When Will I Be Loved,1960,508098
105,6,The Jive Five,My True Story,1961,549734
120,21,Ernie K-Doe,Mother-In-Law,1961,442939
360,61,Ricky Nelson,Fools Rush In,1963,528037
555,56,The Beau Brummels,Just a Little,1965,362180
750,51,The Buckinghams,"Mercy, Mercy, Mercy",1967,418148
945,47,Watts 103rd Street Rhythm Band,Do Your Thing,1969,400774

In [140]:
ser3 = six_hun_thou[six_hun_thou.index % 15 == 0].SpotifyPlayCount

In [141]:
list3 = [515159, 558821, 447126, 538800, 366659, 423967, 403467]

In [150]:
amplifyRate(ser3, list3)

0.0138969253963
0.0165298126003
0.00945276889143
0.0203830413399
0.0123667789497
0.013916125391
0.00671949777181
7
-----
0.0133235643343

# 600,000 ~ 1,200,000: 123 Songs

In [48]:
mil_hun_thou = music_old[ music_old.SpotifyPlayCount < 1200000]
mil_hun_thou = mil_hun_thou[mil_hun_thou.SpotifyPlayCount > 600000]

In [50]:
mil_hun_thou.shape

(123, 5)

In [79]:
mil_hun_thou[mil_hun_thou.index % 10 ==  0]

,Rank,Artist,Title,Year,SpotifyPlayCount
20,21,Dion and The Belmonts,Where Or When,1960,799005
30,31,Jimmy Jones,Good Timin',1960,616177
200,1,Acker Bilk,Stranger On The Shore,1962,921367
410,11,Barbra Streisand,People,1964,1096736
430,31,The Honeycombs,Have I the Right?,1964,1006483
440,41,Johnny Rivers,Memphis,1964,743377
600,1,SSgt Barry Sadler,Ballad of the Green Berets,1966,956352
670,71,Ray Conniff Singers,Somewhere My Love,1966,750017
850,51,Richard Harris,MacArthur Park,1968,998512

In [143]:
ser4 = mil_hun_thou[mil_hun_thou.index % 10 ==  0].SpotifyPlayCount

In [145]:
list4 = [809862, 622088, 935748, 1104136, 1020562, 755285, 970450, 768487, 1008662]

In [152]:
amplifyRate(ser4, list4)

0.0135881502619
0.00959302278404
0.0156083297969
0.00674729378811
0.0139883137619
0.0160187899276
0.0147414341163
0.0246261084749
0.0101651257071
9
-----
0.0138973965132

# 1,200,000 ~ 3,000,000: 133 Songs

In [154]:
threemil = music_old[ music_old.SpotifyPlayCount < 3000000]
threemil = threemil[threemil.SpotifyPlayCount > 1200000]

In [155]:
threemil.shape

(133, 5)

In [156]:
threemil[threemil.index % 15 == 0]

,Rank,Artist,Title,Year,SpotifyPlayCount
225,26,Brenda Lee,Break It To Me Gently,1962,1564747
270,71,Barbara Lynn,You'll Lose A Good Thing,1962,1657027
630,31,Sam the Sham and the Pharaohs,Li'l Red Riding Hood,1966,1369674
675,76,Lee Dorsey,Working In The Coal Mine,1966,1841556
810,11,Jeannie C. Riley,Harper Valley P.T.A.,1968,2780119
825,26,Classics IV,Spooky,1968,2095546
885,87,The Chambers Brothers,Time Has Come Today,1968,2079713
915,17,The Friends Of Distinction,Grazin' In The Grass,1969,1278342
960,62,Tyrone Davis,Can I Change My Mind,1969,1826388
975,77,Tony Joe White,Polk Salad Annie,1969,2683579
990,92,The Originals,Baby I'm For Real,1969,2063514

In [157]:
ser5 = threemil[threemil.index % 15 == 0].SpotifyPlayCount

In [158]:
list5 = [1583325, 1686182, 1383388, 1871687, 2811199, 2114838, 2104760, 1291851, 1837578, 2719480, 2091885]

In [160]:
amplifyRate(ser5, list5)

0.0118728458978
0.0175947645995
0.0100126015388
0.016361707165
0.0111793775734
0.0092061925627
0.0120434886929
0.0105675945874
0.00612684708835
0.0133780298624
0.0137488769158
11
-----
0.0120083933167

# 3,000,000 ~ 8,000,000: 127 Songs

In [161]:
eightmil = music_old[ music_old.SpotifyPlayCount < 8000000]
eightmil = eightmil[eightmil.SpotifyPlayCount > 3000000]

In [162]:
eightmil.shape

(127, 5)

In [163]:
eightmil[eightmil.index % 15 == 0]

,Rank,Artist,Title,Year,SpotifyPlayCount
0,1,Percy Faith,"Theme From ""A Summer Place""",1960,5001152
150,51,Elvis Presley,Surrender,1961,4599587
315,16,"Peter, Paul and Mary","Puff, The Magic Dragon",1963,7184102
420,21,The Dixie Cups,Chapel of Love,1964,6887338
435,36,Lesley Gore,You Don't Own Me,1964,5423583
510,11,The Beach Boys,"Help Me, Rhonda",1965,5635326
645,46,James and Bobby Purify,I'm Your Puppet,1966,3820190
735,36,Martha and The Vandellas,Jimmy Mack,1967,5617771
765,66,The Easybeats,Friday On My Mind,1967,6038048
855,57,Marvin Gaye and Tammi Terrell,Ain't Nothing Like The Real Thing,1968,7685617

In [164]:
ser6 = eightmil[eightmil.index % 15 == 0].SpotifyPlayCount

In [165]:
list6 = [5054459, 4658472, 7281258, 7011798, 5543727, 5690119, 3882912, 5699332, 6128686, 7731069]

In [166]:
amplifyRate(ser6, list6)

0.0106589441793
0.0128022363747
0.0135237500804
0.0180708424648
0.0221521455466
0.00972312870631
0.016418555098
0.0145183917251
0.0150111426739
0.00591390385443
10
-----
0.0138793040704

# 8,000,000 ~ 40,000,000: 138 Songs

In [104]:
fourty_mil = music_old[ music_old.SpotifyPlayCount < 40000000]
fourty_mil = fourty_mil[fourty_mil.SpotifyPlayCount > 8000000]

In [105]:
fourty_mil.shape

(138, 5)

In [106]:
fourty_mil[fourty_mil.index % 15 == 0]

,Rank,Artist,Title,Year,SpotifyPlayCount
180,81,The Shirelles,Mama Said,1961,18984141
195,96,Elvis Presley,Are You Lonesome Tonight?,1961,11573507
210,11,Bruce Channel,Hey! Baby,1962,9727465
405,6,Dean Martin,Everybody Loves Somebody,1964,9620202
450,51,Stan Getz and Astrud Gilberto,The Girl from Ipanema,1964,31119332
585,86,The Animals,We Gotta Get out of This Place,1965,9687979
615,16,The Beatles,We Can Work It Out,1966,20400983
660,61,The Beach Boys,Sloop John B,1966,17048533
795,96,The Who,I Can See For Miles,1967,8118783
900,2,The 5th Dimension,Aquarius / Let The Sunshine In,1969,11308691
930,32,Stevie Wonder,My Cherie Amour,1969,15409195

In [167]:
ser7 = fourty_mil[fourty_mil.index % 15 == 0].SpotifyPlayCount

In [168]:
list7 = [19181190, 11733261, 9840666, 9812922, 31473574, 9824513, 20727434, 17232194, 8189879, 11418049, 15583182]

In [169]:
amplifyRate(ser7, list7)

0.0103796637414
0.0138034219014
0.0116372559552
0.0200328433852
0.0113833420332
0.0140931354207
0.0160017289363
0.0107728330643
0.00875697749281
0.00967026157139
0.0112911154671
11
-----
0.0125293253608

# > 40,000,000: 55 Songs

In [107]:
over_fourty_mil = music_old[ music_old.SpotifyPlayCount > 40000000]

In [108]:
over_fourty_mil.shape

(55, 5)

In [173]:
over_fourty_mil[over_fourty_mil.index % 20 == 0]

,Rank,Artist,Title,Year,SpotifyPlayCount
400,1,The Beatles,I Want to Hold Your Hand,1964,48975471
520,21,The Righteous Brothers,Unchained Melody,1965,64041107
540,41,Bob Dylan,Like a Rolling Stone,1965,86632146
620,21,The Rolling Stones,"Paint It, Black",1966,170214002
780,81,Jefferson Airplane,White Rabbit,1967,49865242
800,1,The Beatles,Hey Jude,1968,71297498
860,62,Steppenwolf,Magic Carpet Ride,1968,42602063
920,22,Neil Diamond,Sweet Caroline,1969,72737534

In [174]:
ser8 = over_fourty_mil[over_fourty_mil.index % 20 == 0].SpotifyPlayCount

In [175]:
list8 = [49713188, 65082231, 87559811, 172610710, 50724017, 72486548, 43185718, 73996529]

In [176]:
amplifyRate(ser8, list8)

0.0150629893891
0.0162571206022
0.0107080921209
0.0140805572505
0.0172219158186
0.0166773033186
0.0137001581355
0.0173087391167
8
-----
0.015127109469